trunk/Ponomar/xsd/Commonprayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="HEADER">
		<xs:complexType>
			<xs:attribute name="Value" use="required"/>			
		</xs:complexType>
	</xs:element>

	<xs:element name="TEXT">
		<xs:complexType>
			<xs:attribute name="Value" use="required"/>			
		</xs:complexType>
	</xs:element>	
	<xs:element name="COMMONPRAYER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TEXT" maxOccurs="unbounded"/>
				<xs:element ref="HEADER" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>